{% extends "base.html" %}
{% load staticfiles i18n %}
{% block title %}New Bid{% endblock %}

{% block extracss %}
    <!-- Select2 -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form id="demo-form2" method="post" action="{% url 'bid-create' %}" data-parsley-validate
          class="form-horizontal form-label-left">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12"><h3>Bid create</h3></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-round btn-default ajaxmodal"
                            url="{% url 'customer-create' %}"
                            modal-title="Add Customer"><span class="glyphicon glyphicon-plus"
                                                             aria-hidden="true"></span> Add customer
                    </button>
                    <a type="button" class="btn btn-round btn-default" href="/admin/main/customer/"
                       target="_blank"><span
                            class="glyphicon glyphicon-envelope"
                            aria-hidden="true"></span> Manage customers
                    </a>

                </div>
            </div>
        </div>
        <p>Here you can create Bid. After creation you will redirected to edit bid page, where you can add files and
            items to bid</p>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">Account number<span
                    class="required">*</span>
            </label>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ form.customer }}
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="">
                    <input type="text" class="form-control has-feedback-left date-picker" id="single_cal2"
                           placeholder="Due date" aria-describedby="inputSuccess2Status2" name="due_date">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">Bid name<span
                    class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="last-name"
                       class="form-control col-md-7 col-xs-12" placeholder="Bid name" name="name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">Bid notes <span
                    class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="last-name"
                       class="form-control col-md-7 col-xs-12" placeholder="Bid notes" name="notes">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>


    </form>
{% endblock %}

{% block extrascript %}

    <script src="{% static 'js/moment/moment.min.js' %}"></script>
    <script src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script>
        $(document).ready(function () {
            $('#single_cal2').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>

    <!-- Select2 -->
    <script>
        $(document).ready(function () {
            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            });
        })
    </script>
{% endblock %}

