{% extends "base.html" %}
{% load staticfiles i18n %}
{% block title %}Edit Bid{% endblock %}


{% block extracss %}
<link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<!-- iCheck -->
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

<!-- Dropzone.js -->
<link href="{% static 'vendors/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12"><h3>Bid update</h3></div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="pull-right">
      <a type="button" class="btn btn-round btn-default " href="{{ bid.get_close_url }}"
      ><span class="glyphicon glyphicon-remove"
             aria-hidden="true"></span> Close bid
      </a>
      <button type="button" class="btn btn-round btn-default ajaxmodal" url="{% url 'item-create' bid.id %}"
              modal-title="Add Item"><span class="glyphicon glyphicon-plus"
                                           aria-hidden="true"></span> Add Item
      </button>
        <a type="button" class="btn btn-round btn-default" href="{{ bid.get_rfq_url }}"><span
        class="glyphicon glyphicon-envelope"
        aria-hidden="true"></span> Manage RFQ
      </a>
        <a type="button" class="btn btn-round btn-default" href="{{ bid.get_history_url }}"><span
                class="glyphicon glyphicon-list-alt"
                aria-hidden="true"></span> History
        </a>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12"><p>Here you can add/edit items, photos, create RFQ for this bid</p></div>
  <div class="col-md-4 col-sm-4 col-xs-12"><strong>Bid:</strong> {{ bid.name }}</div>
  <div class="col-md-4 col-sm-4 col-xs-12"><strong>Due:</strong> {{ bid.due_date }}</div>
  <div class="col-md-4 col-sm-4 col-xs-12"><strong>Customer:</strong> {{ bid.customer }}</div>
</div>
<div class="row" style="margin-top:5px;">
  <div class="col-md-8 col-sm-8 col-xs-12"><strong>Notes:</strong> {{ bid.notes }}
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12"><strong>Group:</strong> {{ bid.group }}</div>
</div>
<hr>
<h4>Items List</h4>
<div>
  <table id="datatable-buttons" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Line</th>
      <th>Item</th>
      <th>Brand</th>
      <th>Quantity</th>
      <th>Best quote</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>


    <tbody>
    {% for item in bid.get_items %}
    <tr>
      <td>{{ forloop.counter }}/{{ bid.get_items|length }}</td>
      <td>{{ item.get_name }}</td>
      <td>{{ item.brand }}</td>
      <td>{{ item.qty }}</td>
      <td>{{ item.best_quote }}</td>
      <td><input type="checkbox" name="hobbies[]" id="hobby2" value="run" class="flat"
                 {% if item.is_open %}checked="checked" {% endif %}/>
      </td>
      <td>
        <a type="button" class="btn btn-round btn-info btn-xs ajaxmodal"
           url="{{ item.get_update_url }}"
           modal-title="Edit Item"><span class="glyphicon glyphicon-pencil"
                                         aria-hidden="true"
                                         data-toggle="modal"
                                         data-target=".bs-example-modal-lg"></span>
        </a>
        <a type="button" class="btn btn-round btn-danger btn-xs" href="{{ item.get_delete_url }}"><span
          class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
      </td>
    </tr>
    {% endfor %}


    </tbody>
  </table>
</div>
<hr style="clear:both">
<h4>Files</h4>
<div class="col-md-6">
  <div class="x_content">
    <p>Drag multiple files to the box below for multi upload or click to select files. This is for demonstration
      purposes only, the files are not uploaded to any server.
      <br>
        Local folder: <a href="{{ bid.get_directory_path }}" id="openfolder"><b>{{ bid.get_directory_path }}</b></a>
    </p>

    <form action="/" class="dropzone" id="my-dropzone">{% csrf_token %}</form>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>
<div class="col-md-6" id="preview" >
  <iframe src="" width="800" height="600"></iframe>
</div>


<div class="table table-striped" class="files" id="previews">


  <div id="mytemplate" class="file-row row">
    <div class="row">
      <div class="col-md-6"><span data-dz-name></span>
      </div>
      <div class="col-md-2"><img data-dz-thumbnail/></div>

      <div class="col-md-2">
        <div class="dz-size" data-dz-size></div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block extrascript %}
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

<!-- iCheck -->
<script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>

<!-- Dropzone.js -->
<script src="{% static 'vendors/dropzone/dist/dropzone.js' %}"></script>

<!-- Datatables -->
<script>

  $(document).ready(function () {
    var handleDataTableButtons = function () {
      if ($("#datatable-buttons").length) {
        $("#datatable-buttons").DataTable({
          dom: "Bfrtip",
          buttons: [
            {
              extend: "copy",
              className: "btn-sm"
            },
            {
              extend: "excel",
              className: "btn-sm"
            },
            {
              extend: "print",
              className: "btn-sm"
            },

          ],
          responsive: true
        });
      }
    };

    TableManageButtons = function () {
      "use strict";
      return {
        init: function () {
          handleDataTableButtons();
        }
      };
    }();

    $('#datatable').dataTable();
    $('#datatable-keytable').DataTable({
      keys: true
    });

    $('#datatable-responsive').DataTable();

    $('#datatable-scroller').DataTable({
      ajax: "js/datatables/json/scroller-demo.json",
      deferRender: true,
      scrollY: 380,
      scrollCollapse: true,
      scroller: true
    });

    var table = $('#datatable-fixed-header').DataTable({
      fixedHeader: true
    });

    TableManageButtons.init();

  });


  var previewTemplate = $('#mytemplate').html();

  Dropzone.options.myDropzone = {
    previewTemplate: previewTemplate,
    thumbnailWidth: 50,
    thumbnailHeight: 50,
    addRemoveLinks: true,
    url: "/bids/{{ bid.id }}/update/",
    dictDefaultMessage: 'Drag a file here',

    init: function () {
      thisDropzone = this;

      <!-- 4 -->
      $.get('/files/{{ bid.id }}/', function (data) {
        <!-- 5 -->
        $.each(data, function (key, value) {console.log(value.good);
          var mockFile = {name: value.name, size: value.size, serverId: value.serverId, url: value.url, good:value.good};

          thisDropzone.emit("addedfile", mockFile);
          thisDropzone.createThumbnailFromUrl(mockFile, value.url);


          mockFile.previewElement.classList.add('dz-success');
          mockFile.previewElement.classList.add('dz-complete');
          thisDropzone.emit("success", mockFile);


        });

      });

      this.on("success", function (file, response) {
        file.previewElement.appendChild(file._downloadLink);
        return file.previewElement.classList.add("dz-success");
      });
      this.on("removedfile", function (file) {
        return false;

      });
    }
  };

  $('body').delegate('form.dropzone a#bt-down', 'click', function () {
      url = "{% url 'preview_file' bid.id %}";
      $.ajax({
          type: "POST",
          url: url,
          data:  {'file': $(this).attr('href')},
          success: function (data) {
            $('#preview').html(data);
          }
        });
    return false;
  });

  $('body').delegate('a#open', 'click', function () {
    url = "{% url 'view_file' bid.id %}";
    $.post(url, {'file': $(this).attr('href')});
    return false;
  });

    $('body').delegate('a#openfolder', 'click', function () {
    url = "{% url 'view_file' bid.id %}";
    $.post(url, {'folder': $(this).attr('href')});
    return false;
  });

  $('body').delegate('form.dropzone a#edit', 'click', function () {
    var url = "{% url 'edit_file' bid.id %}"+'?filename='+$(this).attr('href');
    var title = 'Rename file';
    $(this).showmodal(url, title);
    return false;
  })

</script>

<style>
  .dropzone a i.glyphicon {
    cursor: pointer !important;
  }
    #preview{background: #fff; max-width:600px; min-height:600px}
</style>
<div class="md-2">
  <a target=\"_blank\" class=\"btn\" id=\"bt-down\" style=\"margin:0px; padding:0px; cursor:pointer !important;\"
  href=\""+file.url+"\" title=\"View\" data-dz-download><i class=\"glyphicon glyphicon-eye-open\"></i></a>
  <a target=\"_blank\" class=\"btn\" id=\"open\" style=\"margin:0px; padding:0px; cursor:pointer !important;\"
  href=\""+file.url+"\" title=\"Open\" data-dz-download><i class=\"glyphicon glyphicon-fullscreen\"></i></a>
  <a target=\"_blank\" class=\"btn\" id=\"edit\" style=\"margin:0px; padding:0px; cursor:pointer !important;\"
  href=\""+file.url+"\" title=\"Rename\" data-dz-download><i class=\"glyphicon glyphicon-edit\"></i></a></div>
{% endblock %}



