{% extends "base.html" %}

{% block content %}
{#22#}
    <h2>Do you want to close that bid?</h2>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"><strong>Bid:</strong> {{ bid.name }}</div>
        <div class="col-md-4 col-sm-4 col-xs-12"><strong>Due:</strong> {{ bid.due_date }}</div>
        <div class="col-md-4 col-sm-4 col-xs-12"><strong>Customer:</strong> {{ bid.customer }}</div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-md-8 col-sm-8 col-xs-12"><strong>Notes:</strong> {{ bid.notes }}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"><strong>Group:</strong> {{ bid.group }}</div>
    </div>
<form action="" method="post">
    {% csrf_token %}
    <button>Close</button>
</form>
{% endblock %}
