{% extends "base.html" %}{% load staticfiles i18n %}
{% block title %}Bids{% endblock %}


{% block extracss %}
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Bid Name</th>
                        <th>Due Date</th>
{#                        <th>Time</th>#}
                        <th>Client</th>
                        <th>Actions</th>
                    </tr>
                    </thead>


                    <tbody>
                    {% for bid in bids %}
                    <tr>
                        <td>{{ bid.pk }}</td>
                        <td><a href="{{ bid.get_absolute_url }}">{{ bid }}</a></td>
                        <td>{{ bid.due_date|date:"d/m/Y" }}</td>
{#                        <td>00:00</td>#}
                        <td>{{ bid.customer }}</td>
                        <td><a type="button" class="btn btn-round btn-danger btn-xs" href="{{ bid.get_close_url }}">close</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                              extend: "print",
                              className: "btn-sm"
                            },

                        ],
                        responsive: true,
                        order: [[ 0, "desc" ]]

                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            TableManageButtons.init();
        });
    </script>
{% endblock %}
