{% extends "base.html" %}{% load staticfiles i18n %}

{% block title %}Dashboard{% endblock %}
{% block extracss %}
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- graph area -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Monthly Sales
                    <small>Company</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content2">
                <div id="month_sales" style="width:100%; height: 300px;"></div>
                <div class="legend" id="legend"></div>
            </div>
        </div>
    </div>
    <!-- /graph area -->

    <!-- graph area -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Yearly Sales
                    <small>Company</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content2">
                <div id="graph_area2" style="width:100%;  height: 300px;"></div>
                <div class="legend" id="legend2"></div>
            </div>
        </div>
    </div>
    <!-- /graph area -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Open Bids
                    <small>Team</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content2">
                <div id="graph_area3" style="width:100%;  height: 300px;"></div>
                <div class="legend" id="legend3"></div>
            </div>
        </div>
    </div>

    <!-- /graph area -->
{% endblock %}


{% block extrascript %}
<style>
    .legend {
        height: 50px;
    }

    .legend span {
        display: inline-block;
        padding: 15px 20px;
        position: relative;
    }

    .legend span:after {
        padding-left: 4px;
        content: '\00a0\00a0\00a0\00a0\00a0\00a0';
        text-decoration: line-through;
    }
</style>
<script src="{% static 'vendors/raphael/raphael.min.js' %}"></script>
<script src="{% static 'vendors/morris.js/morris.min.js' %}"></script>
{#<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>#}
{#<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>#}
{#  <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>#}
<script>
    $(document).ready(function () {
        var month_chart = Morris.Line({
            element: 'month_sales',
            data: {% autoescape off %}{{ month_sales }}, {% endautoescape %}
            xkey: 'period',
            ykeys: ['current_month', 'last_year', 'goal', 'trend'],
            lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
            labels: ['{{ month }} {{ last_year }}', '{{ month }} {{ last_year }}', 'Goal', 'Trend'],
            pointSize: 3,
            {#            hideHover: 'auto',#}
            resize: true,
            axes: 'x',
            continuousLine: false
        });
        month_chart.options.labels.forEach(function (label, i) {
            var legendItem = $('<span></span>').text(label).css('color', month_chart.options.lineColors[i])
            $('#legend').append(legendItem)
        });

        var year_chart = Morris.Line({
            element: 'graph_area2',
            data: {% autoescape off %}{{ year_sales }}{% endautoescape %},
            xkey: 'period',
            ykeys: ['current', 'prev_year', 'goal', 'trend'],
            lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
            labels: ['{{ year }}', '{{ last_year }}', 'Goal', 'Trend'],
            pointSize: 3,
            {#            hideHover: 'auto',#}
            axes: 'x',
            resize: true
        });

        year_chart.options.labels.forEach(function (label, i) {
            var legendItem = $('<span></span>').text(label).css('color', year_chart.options.lineColors[i])
            $('#legend2').append(legendItem)
        });


        var open_bids = Morris.Bar({
            element: 'graph_area3',
            data: {% autoescape off %}{{ open_bids }}{% endautoescape %},
            xkey: 'period',
            ykeys: ['bids'],
            barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
            xLabelAngle: 35,
            labels: ['Open Bids'],
            pointSize: 3,
            {#            hideHover: 'auto',#}
            resize: true
        });
        open_bids.options.labels.forEach(function (label, i) {
            var legendItem = $('<span></span>').text(label).css('color', open_bids.options.lineColors[i])
            $('#legend3').append(legendItem)
        });
        Morris.Area({
            element: 'graph_area4',
            data: [
                {period: '2014 Q1', Item1: 2666, Item2: null},
                {period: '2014 Q2', Item1: 2778, Item2: 2294},
                {period: '2014 Q3', Item1: 4912, Item2: 1969},
                {period: '2014 Q4', Item1: 3767, Item2: 3597},
                {period: '2015 Q1', Item1: 6810, Item2: 1914},
                {period: '2015 Q2', Item1: 5670, Item2: 4293},
                {period: '2015 Q3', Item1: 4820, Item2: 3795},
                {period: '2015 Q4', Item1: 15073, Item2: 5967},
                {period: '2016 Q1', Item1: 10687, Item2: 4460},
                {period: '2016 Q2', Item1: 8432, Item2: 5713}
            ],
            xkey: 'period',
            ykeys: ['Item1', 'Item2'],
            lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
            labels: ['Item1', 'Item2'],
            pointSize: 2,
            hideHover: 'auto',
            resize: true
        });


        $MENU_TOGGLE.on('click', function () {
            $(window).resize();
        });
    });
</script>
{% endblock %}
