{% extends "easy_pdf/base.html" %}

{% block content %}
    <p align="center"><font face="Century Gothic"><font size="5" style="font-size: 20pt">Sandtex
    </font></font>
    </p>
    <p align="center"><font face="Century Gothic"><font size="4" style="font-size: 14pt">
        Brownsville, Texas 78526
    </font></font></p>
    <p align="center"><font face="Century Gothic"><font size="4" style="font-size: 14pt">956-546-9009</font></font>
    </p>
    <p align="center"><br/>
        <br/>

    </p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">{{ rfq.created|date }}</font></font></p>
    <p><font color="#0000ff"><font face="Century Gothic"><font size="2" style="font-size: 11pt"><b>
        Please mention this rfq on your quote
    </b></font></font></font><font color="#0000ff"><font face="Century Gothic"><font
            size="3" style="font-size: 12pt"><b>: </b></font></font></font>
        <font face="Century Gothic"><font size="3" style="font-size: 12pt">RFQ:{{ rfq.number }}
        </font></font>
    </p>
    {% if rfq.is_urgent %}
        <p><font face="Century Gothic"><font size="3" style="font-size: 12pt"><b>
            Attention sales:
            <font color="#0000ff">
                urgent, due at 12pm cst please
            </font></b></font></font>
        </p>
    {% endif %}
    <p><font color="#000000"><font face="Century Gothic"><font size="3" style="font-size: 12pt">
        Please provide your best wholesale price for the following.
    </font></font></font></p>
    <p style="margin-bottom: 0cm"><font color="#000000"><font face="Century Gothic">
        <font size="3" style="font-size: 12pt">
            Must be new / oem. used/refurbished or equivalent items are not accepted.
        </font>
    </font></font></p>
    <p style="margin-bottom: 0cm"><br/>

    </p>
    {% for item in rfq.items.all %}
        <p style="margin-bottom: 0cm"><font color="#000000"><font face="Times New Roman, serif"><font size="4"
                                                                                                      style="font-size: 14pt"><b><span
                lang="es-MX">Brand: {{ item.brand }}</span>
        </b></font></font></font></p>
        <p><font color="#000000"><font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">{{ item.descr_eng }} </font></font></font>
        </p>
    {% endfor %}
    <p><br/>
        <br/>

    </p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">List price each:</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Quoted by:</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Distribution discount:</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Date</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Net price:</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Phone #:</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Time of delivery:</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Fax #:</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Weight:</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Company:</font></font></p>

    <p><br/>
        <br/>

    </p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Please advice of any other charges that may
        occur in the placement of this order.
        ORDER.</font></font></p>
    <p><font face="Century Gothic"><font size="3" style="font-size: 12pt">Best regards,</font></font></p>

    <p><font face="Century Gothic"><font size="3"
                                         style="font-size: 12pt">{{ rfq.author.first_name|title }} {{ rfq.author.last_name|title }}</font></font>
    </p>
    <p><a href="mailto:{{ rfq.author.email }}"><font face="Century Gothic"><font size="3" style="font-size: 12pt"><span
            lang="es-MX">{{ rfq.author.email }}</span></font></font></a></p>
    <p><br/>
        <br/>

    </p>
    <p lang="es-MX"><font color="#000000"><font face="Century Gothic"><font size="3"
                                                                            style="font-size: 12pt">Sandtex</font></font></font>
    </p>
    <p style="margin-bottom: 0cm"><font color="#000000">&ldquo;</font><font color="#000000"><font face="Century Gothic"><font
            size="3" style="font-size: 12pt">Your Texas Distributor&rdquo;</font></font></font></p>
    <p style="margin-bottom: 0cm"><font color="#000000"><font face="Century Gothic"><font size="3"
                                                                                          style="font-size: 12pt">T:
        (956) 546-9009</font></font></font></p>
    <p style="margin-bottom: 0cm"><font color="#000000"><font face="Century Gothic"><font size="3"
                                                                                          style="font-size: 12pt">F:
        (956) 546-9013 </font></font></font>
    </p>
    <p style="margin-bottom: 0cm"><br/>
{% endblock %}
