{% extends "base.html" %}
{% load staticfiles i18n %}
{% block title %}Manage RFQ{% endblock %}

{% block extracss %}
    <!-- Select2 -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12"><h1>Manage RFQ</h1></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="pull-right">
                <button type="button" class="btn btn-round btn-default ajaxmodal"
                        url="{% url 'vendor-create' %}"
                        modal-title="Add Vendor"><span class="glyphicon glyphicon-plus"
                                                       aria-hidden="true"></span> Add Vendor
                </button>
                <a type="button" class="btn btn-round btn-default" href="/admin/main/vendor/"> Manage Vendors
                </a>
            </div>
        </div>
    </div>
    {% load crispy_forms_tags %}
    {{ form.errors }}
    {% crispy form %}

    <hr>
    <h3>RFQ list</h3>
    {% if rfq %}
        <table id="datatable-buttons" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Created</th>
                <th>Vendor</th>
                <th>Items</th>
                <th>Is_sent</th>
                <th>Appended files</th>
                <th>File</th>
                <th>Actions</th>
            </tr>
            </thead>


            <tbody>
            {% for line in rfq %}
                <tr>
                    <td>{{ forloop.counter }}/{{ rfq|length }}</td>
                    <td>{{ line.author.name }}</td>
                    <td>{{ line.created }}</td>
                    <td>{{ line.vendor }}
                        <a type="button" class="btn btn-round btn-info btn-xs ajaxmodal"
                           url="{{ line.vendor.get_update_url }}"
                           modal-title="Edit Vendor"><span class="glyphicon glyphicon-pencil"
                                                           aria-hidden="true"
                                                           data-toggle="modal"
                                                           data-target=".bs-example-modal-lg"></span>
                        </a>
                    </td>
                    <td>{% for item in line.items.all %}{{ item.get_name }}, {% endfor %}</td>
                    <td>{{ line.is_send }}</td>
                    <td>
                        {% for f in line.get_filenames_from_db %}{{ f }}{% if not forloop.last %},
                        {% endif %} {% endfor %}
                    </td>

                    <td>
                        <a type="button" class="btn btn-round btn-info btn-xs" href="{{ line.get_pdf_url }}" target="_blank">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                        <a type="button" class="btn btn-round btn-info btn-xs" href="{{ line.get_pdf_download_url }}">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-round btn-danger btn-xs" href="{{ line.get_delete_url }}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                        {% if not line.is_send %}
                            <a type="button" class="btn btn-round btn-success btn-xs" href="{{ line.get_send_url }}">
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    {% else %}
        You don't have any rfq for that bid
    {% endif %}
{% endblock %}


{% block extrascript %}
    <!-- Select2 -->
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- Select2 -->
    <script>
        $(document).ready(function () {
            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            })
        });
    </script>
    <!-- /Select2 -->

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectBox.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
    <script type="text/javascript">
        addEvent(window, "load", function (e) {
            SelectFilter.init("id_items", "items", 1, "{{ STATIC_URL }}admin/");
        });
        addEvent(window, "load", function (e) {
            SelectFilter.init("id_vendors", "vendors", 1, "{{ STATIC_URL }}admin/");
        });
        addEvent(window, "load", function (e) {
            SelectFilter.init("id_files", "Files", 1, "{{ STATIC_URL }}admin/");
        });

    </script>
    <style>
        .stacked {
            width: 320px
        }

        .stacked .selector-available, .stacked .selector-chosen {
            width: 310px;
        }

        .stacked select {
            width: 310px;
        }

        .stacked .selector-available input {
            width: 260px;
        }
    </style>

{% endblock %}
