{% extends "base.html" %}
{% load staticfiles i18n %}
{% block title %}Bid History{% endblock %}

{% block extracss %}
    <!-- Select2 -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>History of bid N{{ bid.id }}: {{ bid }}</h1>
    <div>
        <table id="datatable-buttons" class="table table-striped table-bordered">
            <thead>
            <tr >
                {#                what	action	when 	user	team	Changed fields#}
                <th></th>
                <th>type</th>
                <th>Object</th>
                <th>Action</th>
                <th>Date</th>
                <th>User</th>
                <th>Changed fields</th>
            </tr>
            </thead>
            <tbody>
            {% for line in bid.get_full_history %}
                {% if line.history_type == '~' and not line.changed %}
                {% else %}
                <tr class="{% if line.history_type == '+' %}success {% else %}info {% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ line.model_name }} {{ line.instance.id }}</td>
                    <td>{% autoescape off %}{{ line.instance.get_html }}{% endautoescape %}</td>
                    <td>{{ line.get_history_type_display }}</td>
                    <td>{{ line.history_date }}</td>
                    <td>{{ line.history_user }}</td>
                    <td>
                    {% if line.history_change_reason  %}
                        {{ line.history_change_reason }}
                    {% else %}
                        {% if line.changed %}
                            {% for key, val in line.changed.items %}
                                <li>{{ key }} -> {{ val }}</li>
                            {% endfor %}
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                              extend: "print",
                              className: "btn-sm"
                            },

                        ],
                        responsive: true,
                        pageLength: 50
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            TableManageButtons.init();
        });
    </script>
{% endblock %}
