{% load staticfiles i18n %}<!DOCTYPE html>
{% load show_groups %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}sandtex{% endblock title %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% block css %}
  <!-- Bootstrap -->
  <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
  <!-- This file store project specific CSS -->
  {% endblock %}

  {% block extracss %}
  {% endblock %}
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav class="" role="navigation">
          <ul class="nav navbar-nav navbar-left">
            <li class="">
              <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="">
              <a href="{% url 'bids' %}">Bids</a>
            </li>
            <li class="">
              <a href="{% url 'bid-create' %}">New Bid</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li>
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                 aria-expanded="false">
                {{ request.user.name }} <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a class="nav-link"
                       href="{% url 'users:detail' request.user.username %}">{% trans "My Profile" %}</a>
                </li>
                <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out pull-right"></i>
                  Log
                  Out</a></li>
              </ul>
            </li>
            {% autoescape off %}{% show_groups request.session.group.id request.user.group %}{% endautoescape %}

            {% else %}
            <li class="nav-item">
              <a id="log-in-link" class="nav-link"
                 href="{% url 'account_login' %}">{% trans "Log In" %}</a>
            </li>
            {% endif %}


          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main" style="min-height: 930px;">
      <div class="">
        <div class="page-title">


        </div>
        <div class="clearfix"></div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            {% block content %}


            {% endblock %}
          </div>
        </div>
      </div>
    </div>        <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>
{% block javascript %}
<!-- jQuery -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>

<!-- Custom Theme Scripts -->
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- bootstrap-daterangepicker -->


    <!-- Select2 -->
<link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">

<script src="{% static 'js/project.js' %}"></script>
<script>
  $(document).ready(function () {

    (function ($) {
      $.fn.showmodal = function (url, modal_title) {
        var modal = '.mymodal';
        var $modal = $(modal);
        $modal.find('.modal-title').text(modal_title);
        $modal.find('.modal-body').html("<img src='{% static 'images/loading.gif' %}'>");
        $modal.modal('show');

        $.ajax({
          type: "GET",
          url: url,
          success: function (data) {
            $modal.find('.modal-body').html(data);
          }
        });
        return this;
      };
    })(jQuery);

    $('body').delegate('.ajaxmodal', 'click', function () {
      var url = $(this).attr('url');
      var modal_title = $(this).attr('modal-title');

      $(this).showmodal(url, modal_title);
      return false;
    })


    $('body').delegate('.modal .submit', 'click', function () {
      var sbm_btn = $('.mymodal form input[type=submit]');
      if (sbm_btn.length) {
        sbm_btn.click();
      }
      else {
        $('.mymodal form').submit();
      }
      return false;
    })
  });




</script>
{% endblock %}
{% block extrascript %}
{% endblock %}
{% block modal %}
<div class="modal fade bs-example-modal-lg mymodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/loading.gif' %}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary submit">Save changes
        </button>
      </div>

    </div>
  </div>
</div>
{% endblock modal %}
<!-- /gauge.js -->
</body>
</html>


