{#{% extends "base.html" %}{% load staticfiles i18n %}#}
{#{% block title %}Bids{% endblock %}#}
{##}
{##}
{#{% block content %}#}
    <div class="x_content">
    <div class="row">

    <!-- /MAIL LIST -->

    <!-- CONTENT MAIL -->
    <div class="col-sm-12 mail_view">
        <div class="inbox-body">
            <div class="mail_heading row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4 text-right">
                    <p class="date"> {{ date }}</p>
                </div>
                <div class="col-md-12">
                    <h4>{{ subject }}</h4>
                </div>
            </div>
            <div class="sender-info">
                <div class="row">
                    <div class="col-md-12">
                        {{ from }} to
                        <strong>{{ to }}</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="view-mail">
                <p>{{ html|safe }}</p>
            </div>
            <div class="attachment">
                <p>
                    <span><i class="fa fa-paperclip"></i> {{ files|length }} attachments — </span>
{#                    <a href="#">Download all attachments</a> |#}
{#                    <a href="#">View all images</a>#}
                </p>
                <ul>
                    {% for file in files %}
                    <li>
                        <a href="#" class="atch-thumb">
{#                            <img src="images/inbox.png" alt="img">#}
                        </a>

                        <div class="file-name">
                            {{ file }}
                        </div>
{#                        <span>12KB</span>#}


{#                        <div class="links">#}
{#                            <a href="#">View</a> -#}
{#                            <a href="#">Download</a>#}
{#                        </div>#}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <!-- /CONTENT MAIL -->
    </div>
    </div>
{#{% endblock %}#}
