{% if form.errors %}
    {{ form.errors }}
{% endif %}
<form id="demo-form2" method="post" action="{% url 'item-create' bid_pk %}" data-parsley-validate=""
      class="form-horizontal form-label-left">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-2 col-xs-12" for="last-name">Item info <span
                class="required">*</span>
        </label>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <input type="text" id="last-name" name="qty" required="required"
                   class="form-control col-md-7 col-xs-12" placeholder="Qty">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" id="last-name" name="brand" required="required"
                   class="form-control col-md-7 col-xs-12" placeholder="Brand">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-2 col-xs-12" for="last-name">Spanish
            description <span
                    class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea class="form-control" rows="3" name="descr_span" placeholder="Spanish description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-2 col-xs-12" for="last-name">English
            description <span
                    class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea class="form-control" name="descr_eng" rows="3" placeholder="English description"></textarea>
        </div>
    </div>
</form>
