<li>
    <form action="{% url 'group-set' %}" method="get" onchange="$('form#group').submit();" id="group">
    <select name="group" id="" class="form-control"
            style="margin: 13px 15px 12px; height: 30px; width:130px;">
        {% for group in groups %}
            <option value='{{ group.id }}' {% if group.id == cur_group %}selected="selected"{% endif %}>{{ group.name }}</option>
        {% endfor %}
    </select>
    </form>
</li>
<li>
    {% if cur_group != user_group.id %}
        <a id="log-in-link" class="nav-link" href="{% url 'group-set' %}?group={{ user_group.id }}">Back to {{ user_group }}</a>
    {% endif %}
</li>
